name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to server
        timeout-minutes: 20
        run: |
          ssh -o StrictHostKeyChecking=no \
              -o ConnectTimeout=30 \
              -o ServerAliveInterval=15 \
              -o ServerAliveCountMax=20 \
              -o BatchMode=yes \
              ubuntu@82.115.49.188 'cd ~/my-shop && bash scripts/update-my-shop.sh'
