name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

          #  Нужен только при первом деплое, после этого можно удалить
      # - name: Copy deploy script to server
      #   run: |
      #     scp -o StrictHostKeyChecking=no ./scripts/update-my-shop.sh ubuntu@82.115.49.188:/home/ubuntu/update-my-shop.sh

      - name: Copy deploy script to server
        run: |
          scp -o StrictHostKeyChecking=no \
              -o ServerAliveInterval=60 \
              -o ServerAliveCountMax=3 \
              ./scripts/update-my-shop.sh ubuntu@82.115.49.188:/home/ubuntu/my-shop/scripts/update-my-shop.sh

      - name: Deploy to server
        timeout-minutes: 20
        run: |
          ssh -o StrictHostKeyChecking=no \
              -o ServerAliveInterval=15 \
              -o ServerAliveCountMax=20 \
              -o ConnectTimeout=30 \
              -o TCPKeepAlive=yes \
              -o Compression=yes \
              -o BatchMode=yes \
              ubuntu@82.115.49.188 << 'ENDSSH'
            set -e
            cd ~/my-shop
            chmod +x scripts/update-my-shop.sh
            bash scripts/update-my-shop.sh
          ENDSSH
